.logo-button {
    background-color: transparent;
    position: fixed;
    bottom: -250px;
    right: 0;
    transition: all 1s;
    z-index: 20;
    padding-bottom: 10px;

    @media (max-width:1500px){
        bottom: -400px;
    }
    
  }

  .logo-button.active {
    bottom: 0;
  }
