.projects {
    color: $black-color;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    top: 0;
    bottom: 0;
}





// Projects Img

.projects__img-wrapper {
    position: relative;
    border-radius: 10px;
    height: 730px;
    width: 100%;
    position: relative;
    overflow: hidden;

    @media (max-width:1499px) {
        height: 700px;
    }

    @media (max-width:999px){
        height: 500px;
    }

    @media (max-width:799px){
        height: 400px;
    }

    @media (max-width:599px){
        height: 300px;
    }

    @media (max-width:399px){
        height: 200px;
    }
}

.projects__img {
    width: 100%;
    height: 730px;
    background: url('./../img/projects/img1.jpg') center / cover no-repeat;
    filter: grayscale(0.7);
    transform: scale(1);
    transform-origin: center center;

    @media (max-width:1499px) {
        height: 700px;
    }

    @media (max-width:999px){
        width: 100%;
        height: 500px;
    }

    @media (max-width:799px){
        height: 400px;
    }

    @media (max-width:599px){
        height: 300px;
    }

    @media (max-width:399px){
        height: 200px;
    }
}

.projects__img .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}



