.svg-x {
    width: 26px;
    height: 28px;
    fill: $white-color;
}

.svg-menu {
    width: 70px;
    height: 31px;
    fill: $black-color;
}

.svg-arrow-goris {
    width: 50px;
    height: 13px;
    stroke: $black-color;
}

.svg-diamond {
    width: 36px;
    height: 50px;
    fill: $black-color; 
    transition: all 0.5s;
}

.svg-arrow-up {
    width: 23px;
    height: 23px;
    stroke: $black-color;
}

.svg-arrow-back{
    width: 23px;
    height: 23px;
    stroke: $black-color;
}

.svg-whatsapp {
    width: 30px;
    height: 32px;
    stroke: $black-color;
    fill: transparent;
}

.svg-telegram {
    width: 30px;
    height: 32px;
    stroke: $black-color;
    fill: transparent;
}

.svg-phone{
    width: 20px;
    height: 29px;
    stroke: $black-color;
    fill: transparent;
}

