$hover-color: #0b2e4d;
$light-blue-color: #98abbc;
$deep-blue-color: #779ec0;
$blue-color: #2b85ac;
$background-color-blue: #337ab7;
$text-title:#df1616;
$text-color: #8c8b8b;
$text-color-hover: #bcbcbd;
$black-color: #323232;
$white-color: #e4e4e4;

$background-color-accent:#a99078;
$background-color: #f7f7f7;