.nav {
    position: fixed;
    z-index: 11;
    right: -100%;
    top: 0;
    width: 640px;
    height: 100%;
    padding-top: 100px;
    
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    text-align: center;
    background-color: rgba(39, 42, 46, 0.97);

    transition: opacity 0.3s ease-in, top 0s linear 0.2s;

    @media (max-width: 599px){
        padding-top: 40px;
    }

    &--active {
        right: 0;
        opacity: 1;
        transition: right 0s linear, opacity 0.5s ease-in;

        &::before {
            opacity: 0.5;
        }

    }

    

    @media (max-width:699px) {
        width: 100%;
    }
}


.nav__top {
    position: relative;
    z-index: 10;
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: $text-color;

    @media (max-width:1199px){
        margin-bottom: 25px;
        font-size: 26px;
    }

    /* XS Mobile */
    @media (max-width: 599px) {
        margin-bottom: 25px;
        font-size: 20px;
    }
    }


.nav__list, .nav__list-add {
    position: relative;
    z-index: 10;
    font-size: 24px;
    line-height: 1;
    transition: color 0.2s ease-in;
    
    @media (max-width:1199px) {
        font-size: 20px;
    }

    /* XS Mobile */
    @media (max-width: 599px) {
        font-size: 18px;
    }

    li+li {
        margin-top: 30px;

        @media (max-width:1199px){
            margin-top: 20px;
        }

    }
    

    a {
        display: inline-block;
        position: relative;
        z-index: 8;
        text-decoration: none;
        color: $black-color;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $black-color;
            bottom: -7px;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
        }

        &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}

.nav__list-add {
    margin-bottom: 40px;

    @media (max-width:1199px){
        margin-bottom: 30px;
    }

    @media (max-width: 599px) {
        margin-bottom: 25px;
    }
}

.nav__ic {
    font-family: 'Playfair Display SC', serif;
    position: absolute;
    font-size: 120px;
    z-index: 0;
    top: 190px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(65, 64, 64, 0.47);
  
  
    @media (max-width:1199px) {
      font-size: 100px;
      top: 160px;
    }
  
  
  
    @media (max-width:599px) {
        font-size: 90px;
        top: 90px;
    }

    @media (max-width:379px) {
        font-size: 70px;
        top: 110px;
    }
  
  
}

.nav__bg {
  position: absolute;
  top: 300px;
  background: linear-gradient(180deg, rgb(30, 32, 34) 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #1e2022 92.19%), url(./../img/header/bg-2.jpg);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: -1;

  @media (max-width:599px) {
    top: 200px;
  }
}


