.title {
    font-family: 'Playfair Display SC';
    font-size: 153px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s;

    @media (max-width:1699px) {
        font-size: 9.3vw;
    }

    @media (max-width:1499px) {
        font-size: 9.3vw;
    }

    @media (max-width:1099px) {
        font-size: 9vw;
    }

    @media (max-width:799px) {
        font-size: 8.8vw;
    }

    @media (max-width:699px) {
        font-size: 8.5vw;
    }

    @media (max-width:599px) {
        font-size: 9.3vw;
    }

    @media (max-width:399px) {
        font-size: 9vw;
    }

    &:hover {
        color: $blue-color;
    }
}


.title-middle {
    font-size: 75px;
    font-family: 'Playfair Display SC';

    @media (max-width:1699px) {
        font-size: 4.5vw;
    }

    @media (max-width:840px) {
        font-size: 39px;
    }

    @media (max-width:799px) {
        font-size: 35px;
    }

    @media (max-width:599px) {
        font-size: 32px;
    }

    @media (max-width:499px) {
        font-size: 27px;
    }

    @media (max-width:399px) {
        font-size: 20px;
    }
}

